@model UserDetails
@{
	ViewData["Title"] = "GitHub User Details";
}

<div class="text-center">
	<h1 class="display-4">Welcome to refit Sample</h1>
	<div style="background-color: black; color: white; padding: 20px;">
		<ul>
			<Li>@Html.DisplayFor(model => model.login)</Li>
			<li>@Html.DisplayFor(model => model.id)</li>
			<li>@Html.DisplayFor(model => model.node_id)</li>
			<li>@Html.DisplayFor(model => model.avatar_url)</li>
			<li>@Html.DisplayFor(model => model.gravatar_id)</li>
			<li>@Html.DisplayFor(model => model.url)</li>
			<li>@Html.DisplayFor(model => model.html_url)</li>
			<li>@Html.DisplayFor(model => model.followers_url)</li>
			<li>@Html.DisplayFor(model => model.following_url)</li>
			<li>@Html.DisplayFor(model => model.gists_url)</li>
			<li>@Html.DisplayFor(model => model.starred_url)</li>
			<li>@Html.DisplayFor(model => model.subscriptions_url)</li>
			<li>@Html.DisplayFor(model => model.organizations_url)</li>
			<li>@Html.DisplayFor(model => model.repos_url)</li>
			<li>@Html.DisplayFor(model => model.events_url)</li>
			<li>@Html.DisplayFor(model => model.received_events_url)</li>
			<li>@Html.DisplayFor(model => model.type)</li>
			<li>@Html.DisplayFor(model => model.site_admin)</li>
			<li>@Html.DisplayFor(model => model.name)</li>
			<li>@Html.DisplayFor(model => model.company)</li>
			<li>@Html.DisplayFor(model => model.blog)</li>
			<li>@Html.DisplayFor(model => model.location)</li>
			<li>@Html.DisplayFor(model => model.email)</li>
			<li>@Html.DisplayFor(model => model.hireable)</li>
			<li>@Html.DisplayFor(model => model.bio)</li>
			<li>@Html.DisplayFor(model => model.public_repos)</li>
			<li>@Html.DisplayFor(model => model.public_gists)</li>
			<li>@Html.DisplayFor(model => model.followers)</li>
			<li>@Html.DisplayFor(model => model.following)</li>
			<li>@Html.DisplayFor(model => model.created_at)</li>
			<li>@Html.DisplayFor(model => model.updated_at)</li>
		</ul>
	</div>
</div>
